.project__item--content {
  padding: 0 5vw 0 5vw; 
  height: 55%;
  @include flexcolumn(space-between); 

  @include medium {
    width: 550px; 
    height: 400px;
    padding: 0 40px 40px 40px; 
    line-height: 2; 
  }
}

.title {
  line-height: 1.5; 
  margin-bottom: 20px; 

  h2 {
    font-family: 'Bebas'; 
    font-size: 1.5rem; 
  }

  h3 {
    font-weight: bold; 
  }

  @include medium {
    margin-bottom: 0; 
    h2 {
      font-size: 3rem; 
      font-family: 'Bebas'; 
    }

    h3 {
      line-height: 2; 
      font-size: 1.2rem; 
    }
  }
}

.description {
  height: 50%;
  margin-bottom: 40px; 
  line-height: 1.5;

  @include medium {
    height: 200px;
    width: 100%; 
    margin-bottom: 0;
    line-height: 2;
    padding-right: 5vw; 
  }
}

.button__container {
  width: 100%; 
}

.button {
  margin: 0 auto 20px auto; 
  @include smoothtrans; 
  cursor: pointer;
  width: 100px; 
  height: 40px; 
  border: solid #FFDA5E;
  border-radius: 20px; 
  @include flexcolumn(center); 
  align-items: center; 
  color: #FFDA5E; 

  @include medium {
    margin: 0; 
  }

  &:hover {
    background-color: #FFDA5E;
    color: white; 
  }
}