.project__item--content {
  padding: 0 5vw 0 5vw; 
  height: 55%;
  @include flexcolumn(space-between); 

  @include large {
    height: 25rem;
    width: 50%;
    padding: 0 0 2.5rem 2.5rem; 
    line-height: 2; 
  }
}

.title {
  line-height: 1.5; 
  margin-bottom: 1.25rem; 

  h2 {
    font-family: 'Bebas'; 
    font-size: 1.5rem; 

    small {
      font-size: 1rem;
    }
  }

  h3 {
    font-weight: bold; 
  }

  @include large {
    margin-bottom: 0; 
    h2 {
      font-size: 3rem; 
      font-family: 'Bebas'; 
    }

    h3 {
      line-height: 2; 
      font-size: 1.2rem; 
    }
  }
}

.description {
  height: 50%;
  margin-bottom: 2.5rem; 
  line-height: 1.5;

  @include large {
    // height: 12.5rem;
    width: 100%; 
    margin-bottom: 0;
    line-height: 2;
    // padding-right: 5vw; 
  }
}

.button__container {
  width: 100%; 
}

.button {
  margin: 0 auto 1.25rem auto; 
  @include smoothtrans; 
  cursor: pointer;
  width: 12.5rem; 
  height: 2.5rem; 
  border: solid $second-color;
  @include flexcolumn(center); 
  align-items: center; 
  color: $second-color; 

  @include large {
    margin: 1rem 0 0 0; 
  }

  &:hover {
    background-color: $second-color;
    color: white; 
  }
}

.button--design {
  margin-top: 1rem; 
}