.cover__container {
  margin-bottom: 1.25rem; 
  padding: 0 5vw 0 5vw; 
  width: 25rem; 

  @include large {
    padding: 0;
    width: 25rem; 
    height: 25rem;
  }
}

.project__item--cover {
  width: 100%;
  height: 12.5rem;
  margin: 0 auto; 
  background-color: $second-color;
  transition: all 1s; 

  @include medium {
    width: 100%; 
  }

  @include large {
    width: 100%; 
    height: 100%;
  }
}

.cover__rectangle {
  width: 90%; 
  height: 90%;
  transform: translateY(5%); 
  margin: 0 auto; 
  border: solid white; 
}