.project__container {
  width: 100vw; 
  margin: 8rem auto; 
  @include flexbox(row, flex-end, unset); 

  @include large {
    height: 100vh;
    margin-top: 0;  
    justify-content: center;
    overflow: hidden;
  }
}

.project {

  .project__item--date {
    display: none; 
  }

  @include large {
    width: 54rem; 
    height: 25rem;
    margin: auto; 
    @include flexbox(row, space-between, flex-start);

    .project__item--date {
      display: block;
      width: 3.125rem; 
      font-family: $secondary-font; 
      font-size: 2.5rem; 
    }
  }
}