.project__container {
  width: 100vw; 
  margin-top: 10vh; 
  @include flexcolumn(flex-end); 

  @include large {
    height: 100vh;
    margin-top: 0;  
    justify-content: center;
    overflow: hidden;
  }
}

.project__container:nth-child(1) {
  margin-top: 20vh; 

  @include large {
    margin-top: 0;
  }
}

.project {
  @include large {
    width: 56.5rem; 
    height: 25rem;
    margin: auto; 
    display: flex;
    justify-content: space-between;
    align-content: center; 
  }
}