@keyframes rotate {
  to {
    transform: rotate(359deg);
  }
}

.logo {
  @include smoothtrans;
  cursor: pointer;
  z-index: 50; 

  position: fixed;
  top: 5vh;
  right: 5vw;
  width: 50px;
  height: 40px;
  fill: $first-color;
  stroke: white;
  stroke-width: 10;

  animation: rotate 5s linear infinite; 

  @include large {
    width: 70px;
    height: 60px;

    &:hover {
    }
  }
}

.logo.is-open {
  stroke-width: 10;
  stroke: #FFDA5E;
  fill: white; 
}