@keyframes maze {
  from {
    stroke-dasharray: 500;
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
    stroke-dasharray: 500;
  }
}

.cover__draw--lost {
  height: 80%; 
  transform: translateY(10%);
}

.mazeLine {
  animation: maze 5s linear infinite; 
}