// ABOUT SECTION

.about {
  @include smoothtrans;

  width: 100vw;
  height: 100vh;

  transform: translateX(100%);
  position: fixed;
  top: 0;
  right: 0;

  @include flexcolumn(center);

  background: $second-color;
  color: white;

  @include medium {
    width: 35vw;
  }
}

.about.is-open {
  transform: translateX(0);
}

// ABOUT CONTENT

.about__content {
  height: 50vh;

  @include flexcolumn(space-between);

  padding: 0 5vw 0 5vw;
  line-height: 1.5;

  @include medium {
    height: 50vh;
    
    transform: translateY(0);

    padding: 0 5vw 0 5vw;
    font-size: 1.2rem;
  }
}

.about__description {
  margin-bottom: 10px;
}

.about__title {
  font-weight: bold;
  font-size: 1.2rem;

  @include medium {
    font-size: 1.3rem;
  }
}

span.minor {
  font-weight: lighter;
}

span.major {
  font-weight: bold;
}

.about__contact {
  @include flexcolumn(none);
}

.contact__item {
  width: 90px;

  margin-bottom: 10px;
  padding-bottom: 5px;

  font-size: 0.9rem;
  text-decoration: none;
  color: white;
  border-bottom: solid white;

  @include medium {
    font-size: 1rem;
  }
}

