.about {
  z-index: 40;
  @include smoothtrans;

  width: 100vw;
  height: 100vh;

  transform: translateX(100%);
  position: fixed;
  top: 0;
  right: 0;

  @include flexcolumn(center);

  background: $second-color;
  color: white;

  @include large {
    width: 500px;
    @include flexcolumn(center);
  }
}

.about.is-open {
  transform: translateX(0);
}

.about__content {
  font-size: 0.9rem;
  max-height: 80%;

  @include flexcolumn(space-between);

  padding: 0 5vw 0 5vw;
  line-height: 1.5;

  @include large {
    
    transform: translateY(0);

    padding: 0 5vw 0 5vw;
    font-size: 1.2rem;
  }
}

.about__title {
  font-weight: bold;
  font-size: 1.2rem;

  @include large {
    font-size: 1.3rem;
  }
}

.about__title, .about__description, .about__infos {
  margin-bottom: 10px;

  @include large {
    margin-bottom: 20px;
  }
}

span.minor {
  font-weight: lighter;
}

span.major {
  font-weight: bold;
}

.about__contact {
  @include flexcolumn(none);
}

.contact__item {
  width: 90px;

  margin-bottom: 5px;
  padding-bottom: 5px;

  font-size: 0.9rem;
  text-decoration: none;
  color: white;
  border-bottom: solid white;

  @include large {
    font-size: 1rem;
  }
}

.span__chip {
  color: white; 
}
