.border {
  display: none; 
  
  @include medium {
    display: block; 
    position: fixed; 
    z-index: 50; 
    background: $second-color;
  }
}

.border__up, .border__down {
  width: 100vw;
  height: 1rem;
}

.border__left, .border__right {
  width: 1rem;
  height: 100vh;
  top: 0; 
}

.border__up {
  top: 0; 
}

.border__left {
  left: 0; 
}

.border__down {
  bottom: 0;
}

.border__right {
  right: 0;
}