.end {
  width: 100vw; 
  height: 100vh;
  @include flexcolumn(center);
}

.networks__list {
  display: flex; 
  justify-content: space-around; 
  width: 30%; 
  margin: 0 auto; 
}

.copyr {
  @include smoothtrans; 
  width: 100%; 
  position: fixed; 
  bottom: 5vh; 
  opacity: 0;
  font-size: 0.8rem; 
}

.copyr__content {
  width: 80%; 
  margin: 0 auto; 
  text-align: center; 
}

.copyr.is-reached {
  opacity: 1;
}

