.end {
  width: 100vw; 
  height: 100vh;
}

.copyr {
  @include smoothtrans; 
  width: 100%; 
  position: fixed; 
  bottom: 5vh; 
  opacity: 0;
  font-size: 0.8rem; 
}

.copyr__content {
  width: 80%; 
  margin: 0 auto; 
  text-align: center; 
}

.copyr.is-reached {
  opacity: 1;
}