.end {
  width: 100vw; 
  height: 100vh;
  @include flexcolumn(center);
}

.networks__list {
  @include smoothtrans; 
  display: flex; 
  justify-content: space-around; 
  width: 80%; 
  margin: 0 auto; 
  opacity: 0;
  transform: scale(0.5);

  @include large {
    width: 30%; 
  }

  .icon {
    fill: $second-color; 

    @include large {
      width: 35px;
      height: 35px;
    }
  }
}

.networks__list.is-reached {
  opacity: 1;
  transform: scale(1);
}


.copyr {
  @include smoothtrans; 
  width: 100%; 
  position: fixed; 
  bottom: 5vh; 
  opacity: 0;
  font-size: 0.8rem; 
}

.copyr__content {
  width: 80%; 
  margin: 0 auto; 
  text-align: center; 
}

.copyr.is-reached {
  opacity: 1;
}

