.footer {
  transition: transform 0.5s 1s, opacity 1s; 
  position: fixed; 
  width: 100vw;
  bottom: 5vh; 
  padding: 0 5vh 0 5vh;
  transform: translateX(200%);

  @include medium {
    width: 90vw; 
    left: 5vw;
    padding: 0; 
    transform: translateX(0);
    display: flex; 
    justify-content: space-between; 
  }
}

.footer.is-open {  
  transition: transform 0.1s; 
  transform: translateX(0);
}

// LANG 
.languages {
  @include smoothtrans;
  cursor: pointer;

  display: none;

  font-family: 'Bebas', sans-serif;

  @include medium {
    display: block;
    align-self: flex-end; 
  }
}

// NETWORK ICONS
.icons__list {
  @include smoothtrans;

  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto; 

  @include medium {
    display: flex;
    width: 20%;
    margin: 0; 
  }
}

.icons__list.is-open {
  @include smoothtrans;

  .icon {
    @include medium {
      fill: white;
      transform: none; 
    }
  }
}

.icon {
  @include smoothtrans;
  width: 25px;
  height: 25px;
  fill: white;

  @include medium {
    fill: $first-color;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.is-hidden {
  opacity: 0.5;
  @include smoothtrans;
}
