.header {
  @include smoothtrans;  
  font-family: $secondary-font;
  position: fixed;
  top: 5vh;
  left: 5vw;
  z-index: 50; 

  @include large {
    top: 5vh;
    left: 5vw;
  }
}

.header.is-open {
  color: white;

  @include large {
    transform: translateX(65vw);
  }
}

.header__title {
  font-size: 2rem;

  @include large {
    font-size: 2.5rem;
  }
}

.header__subtitle {
  @include large {
    font-size: 1.25rem;
  }
}

.header, .logo, .counter {
  opacity: 0;
}

.header.is-reached, .logo.is-reached {
  opacity: 1;
}