// NAME TITLE 
.header {
  @include smoothtrans;  
  font-family: 'Bebas', sans-serif;
  position: fixed;
  top: 5vh;
  left: 5vw;
  z-index: 50; 

  @include medium {
    top: 5vh;
    left: 5vw;
  }
}

.header.is-open {
  color: white;

  @include medium {
    transform: translateX(65vw);
  }
}

.header__title {
  font-size: 2rem;

  @include medium {
    font-size: 2.5rem;
  }
}

.header__subtitle {
  @include medium {
    font-size: 1.25rem;
  }
}

.header, .footer, .logo, .counter {
  opacity: 0;
  transition: opacity 0.5s;
}

.header.is-reached, .footer.is-reached, .logo.is-reached
// .counter.is-reached 
{
  opacity: 1;
}