@keyframes jump {
  from {
    opacity: 0.5;
  }
  to {
    transform: translateY(10px);
    opacity: 1;
  }
}

.intro {
  width: 100vw; 
  height: 100vh;
  background: $second-color; 
  background: white; 
  @include flexcolumn(center);
}

.intro__container {
  position: relative;
}

.intro__draw {
  width: 100%; 
  height: 70%;
  overflow: hidden;
  position: relative;
  transform: translateY(-5vh);

  @include medium {
    transform: translateY(0);
  }
}

.logointro {
  stroke-width: 3;
  fill: #FFDA5E;
  stroke: white; 
  width: 100%; 
  height: 100%;
  animation: rotate 5s linear infinite; 
}

.intro__text {
  width: 100%; 
  height: 100%;
  margin: 0 auto; 
  @include flexcolumn(center);
  text-align: center; 
  z-index: 20;
  font-size: 3rem; 
  font-family: 'Bebas', sans-serif; 
  -webkit-text-stroke-color: $second-color; 
  -webkit-text-stroke-width: 1px; 
  color: white;
  position: absolute; 
  top: 0; 

  @include medium {
    font-size: 4.5rem; 
    -webkit-text-stroke-width: 2px; 
  }
}

.intro__subtitle {
  font-size: 1.5rem; 

  @include medium {
    font-size: 3.5rem; 
  }
}

.scroll__down {
  cursor: pointer;
  @include smoothtrans; 
  width: 100vw; 
  position: fixed; 
  bottom: 5vh;
}

.scroll__content {
  font-family: 'Bebas', sans-serif; 
  margin: 0 auto; 
  @include flexcolumn(center);  
  align-items: center; 
  width: 20%;
  animation: jump 1s alternate infinite; 
  font-size: 0.8rem; 

  @include medium {
    font-size: 1rem; 
  }
}

.scroll__bar {
  width: 2.5px; 
  height: 20px;
  background: $first-color;
  margin: 10px 0 10px 0;

  @include medium {
    width: 5px; 
    height: 40px;
  }
}

.scroll__down.is-reached {
  opacity: 0;
}