.project__container {
  width: 100vw; 
  height: 100vh;
}

.project {
  width: 60vw; 
  height: 60vh;
  margin: 0 auto; 
  transform: translateY(20vh); 
  display: flex; 
}

.title {
  line-height: 1.5; 
  h2 {
    font-size: 3rem; 
    font-family: 'Bebas'; 
  }
}

.project__item--date {
  width: 10%; 
  height: 100%;
}

.date__year {
  margin: 0 auto; 
  width: 30%; 
  font-size: 2.5rem; 
  font-family: 'Bebas', sans-serif; 
}

.project__item--content {
  width: 400px; 
  height: 400px;
}

.project__item--content {
  padding: 0 40px 40px 40px; 
  @include flexcolumn(space-between); 
  line-height: 2; 
}

.project__item--cover {
  background-color: #FFDA5E;
  width: 400px; 
  height: 400px;
}

.cover__rectangle {
  width: 90%; 
  height: 90%;
  border: solid white; 
  align-self: center; 
  margin: 0 auto; 
  transform: translateY(5%); 
}

.button {
  @include smoothtrans; 
  cursor: pointer;
  width: 100px; 
  height: 40px; 
  border: solid #FFDA5E;
  border-radius: 20px; 
  @include flexcolumn(center); 
  align-items: center; 
  color: #FFDA5E; 

  &:hover {
    background-color: #FFDA5E;
    color: white; 
  }
}

// SVG 

.cover__draw {
  height: 100%; 
  width: 100%; 
  fill: #FFDA5E; 
  stroke: white; 
  stroke-width: 3;
}

.fill {
  stroke-width: 15;
}

.counter {
  position: fixed; 
  bottom: 15vh; 
  left: 45vw; 
  width: 20vw; 
  display: flex; 
  justify-content: space-between; 
}

.counter__item {
  width: 5px; 
  height: 30px;
  background-color: white; 
  border: 0.5px solid #FFDA5E; 
}