// CONTAINER

.project__container {
  width: 100vw; 
  height: 100vh;
  @include flexcolumn(center);
}

.project {
  height: 70vh;

  @include medium {
    display: flex;
    align-content: center; 
    width: 1000px; 
    height: 400px;
    margin: auto; 
    padding: 0; 
    display: flex; 
    transform: translateY(0); 
  }
}

// 1rst BLOCK

.project__item--date {
  display: none; 
  font-size: 2.5rem; 
  font-family: 'Bebas', sans-serif; 
  @include medium {
    display: block;
    width: 50px; 
  }
}

// 2nd BLOCK

.project__item--cover {
  background-color: #FFDA5E;
  width: 200px;
  height: 200px;
  margin: 0 auto; 

  @include medium {
    width: 400px; 
    height: 400px;
    margin: auto; 
  }
}

.cover__rectangle {
  width: 90%; 
  height: 90%;
  border: solid white; 
  align-self: center; 
  margin: 0 auto; 
  transform: translateY(5%); 
}

// 3rd BLOCK

.project__item--content {
  height: 60%;

  @include medium {
    width: 550px; 
    height: 400px;
    padding: 0 40px 40px 40px; 
    line-height: 2; 
    @include flexcolumn(space-between); 
  }
}

.title {
  line-height: 1.5; 

  h2 {
  font-family: 'Bebas'; 
  font-size: 1.5rem; 
  }

  h3 {
    line-height: 2; 
    font-weight: bold; 
    font-size: 1.2rem; 
  }

  @include medium {
    h2 {
      font-size: 3rem; 
      font-family: 'Bebas'; 
    }
  }
}

.description {
  @include medium {
    height: 200px;
    width: 100%; 
  }
}

.button {
  @include smoothtrans; 
  cursor: pointer;
  width: 100px; 
  height: 40px; 
  border: solid #FFDA5E;
  border-radius: 20px; 
  @include flexcolumn(center); 
  align-items: center; 
  color: #FFDA5E; 

  &:hover {
    background-color: #FFDA5E;
    color: white; 
  }
}

// COUNTER 

.counter {
  display: none; 

  @include medium {
    width: 100vw; 
    position: fixed; 
    bottom: 15vh; 
  }
}

.counter__list {
  width: 20vw; 
  margin: 0 auto; 
  display: flex; 
  justify-content: space-between; 
}

.counter__item {
  width: 5px; 
  height: 30px;
  background-color: white; 
  border: 0.5px solid #FFDA5E; 
}